<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ServerInfoReq</key>
	<dict>
		<key>serviceId</key>
		<integer>1</integer>
		<key>commandId</key>
		<integer>1</integer>
		<key>repCls</key>
		<string>ServerInfoRep</string>
		<key>hasErrMsg</key>
		<true/>
		<key>tag</key>
		<integer>101</integer>
		<key>hasRepData</key>
		<true/>
		<key>loadCacheFirst</key>
		<false/>
	</dict>
	<key>LoginReq</key>
	<dict>
		<key>serviceId</key>
		<integer>111</integer>
		<key>commandId</key>
		<integer>110</integer>
		<key>repCls</key>
		<string>LoginRep</string>
		<key>hasErrMsg</key>
		<true/>
		<key>tag</key>
		<integer>100</integer>
		<key>hasRepData</key>
		<true/>
		<key>loadCacheFirst</key>
		<false/>
	</dict>
	<key>QtiExamResultQuestionReq</key>
	<dict>
		<key>serviceId</key>
		<integer>119</integer>
		<key>commandId</key>
		<integer>118</integer>
		<key>repCls</key>
		<string>QtiExamResultQuestionRep</string>
		<key>hasErrMsg</key>
		<false/>
		<key>tag</key>
		<integer>103</integer>
		<key>hasRepData</key>
		<true/>
		<key>loadCacheFirst</key>
		<false/>
	</dict>
	<key>QtiExamStudentSheetReq</key>
	<dict>
		<key>serviceId</key>
		<integer>125</integer>
		<key>commandId</key>
		<integer>124</integer>
		<key>repCls</key>
		<string>QtiExamStudentSheetRep</string>
		<key>hasErrMsg</key>
		<false/>
		<key>tag</key>
		<integer>106</integer>
		<key>hasRepData</key>
		<true/>
		<key>loadCacheFirst</key>
		<true/>
	</dict>
	<key>QtiExamListReq</key>
	<dict>
		<key>serviceId</key>
		<integer>117</integer>
		<key>commandId</key>
		<integer>116</integer>
		<key>repCls</key>
		<string>QtiExamListRep</string>
		<key>hasErrMsg</key>
		<false/>
		<key>tag</key>
		<integer>102</integer>
		<key>hasRepData</key>
		<true/>
		<key>loadCacheFirst</key>
		<false/>
	</dict>
</dict>
</plist>
